node_modules/
dist/
.env
.env.*.local
npm-debug.log*

# Ignorar archivos de configuración y variables de entorno
.env.example
.env.local
.env.production
.env.development

# Ignorar archivos de credenciales y configuraciones sensibles
*.key
*.pem
*.crt

logs/
*.log
temp-hash.js
# Ignora archivos de backup o dumps si los generas
*.bak
*.tmp
*.dump

